html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,a,img,p,span,i,em,b,strong,br,hr,form,input,select,label,button,table,thead,tbody,tfoot,th,td,iframe,figure,figcaption,abbr,acronym,address,caption,cite,dfn,var,del,pre,code,caption,fieldset,legend,blockquote,details,hgroup,menu,sub,sup,ins,header,nav,aside,section,aside,footer,figure,meter,progress,time,audio,source,video,command,datalist,details,canvas,embed,hgroup,keygen,mark,output,ruby{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
	font-size:14px !important;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom:1; /* for ie6 & ie7 */
}
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
::-webkit-scrollbar{width: 5px;height: 5px;}
::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);background-color:rgba(204, 204, 204, 0.5); }
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);border-radius: 0;background: rgba(255,255,255,.7);}
.main-div{
	position: fixed;
	width: 100%;
	height: 100%;
}
.allmap{
	width: 100%;
	height: 100%;
}
.BMapLib_Drawing{
	left: auto !important;
	right: 10px !important;
	top: 5px !important;
}
.BMapLib_Drawing_panel{
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border: none;
}
.BMapLib_hander:hover{
	background-position: 0 -52px;
}
.BMapLib_marker:hover{
	background-position: -65px -52px;
}
.BMapLib_circle:hover{
	background-position: -130px -52px;
}
.BMapLib_polyline:hover{
	background-position: -195px -52px;
}
.BMapLib_polygon:hover{
	background-position: -260px -52px;
}
.BMapLib_rectangle:hover{
	background-position: -325px -52px;
}
.search-frame{
	position: absolute;
	left: 10px;
	top: 5px;
	width: 350px;
	/*height: 300px;*/
	z-index: 1;
}
.search-frame .search{
	position: relative;
}
.search-input{
	width: 100%;
	height: 34px;
	background: #fff;
	padding-left: 10px;
	border: none;
	box-shadow: 0 0 5px #ccc;
}
.search-frame button{
	width: 50px;
	height: 34px;
	border: none;
	background: #3385FF;
	position: absolute;
	right: 0;
	top: 0;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s;
}
.search-frame button:hover{
	background: #2E77E5;
	transition: all 0.3s;
}
.search-info{
	margin-top: 10px;
	width: 100%;
	display: none;
	/*padding: 10px;*/
	background: #fff;
	overflow-y: auto;
	box-shadow: 0 0 5px #ccc;
}
.search-info .search-keyword{
	text-align:center;
	font-size:14px;
	line-height:40px;
	color:#ff0000;
}
.search-info .combine-btn{
	
}
.search-list{
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.search-list:hover{
	background: #F6F6F6;
}
.list-l{
	float: left;
	width: 18px;
	height: 27px;
	background: url(/imgs/map.png) no-repeat;
	margin-right: 5px;
}
.list-l.l-1{background-position: 0 -139px;}
.list-l.l-2{background-position: -18px -139px;}
.list-l.l-3{background-position: -36px -139px;}
.list-l.l-4{background-position: -54px -139px;}
.list-l.l-5{background-position: -72px -139px;}
.list-l.l-6{background-position: -90px -139px;}
.list-l.l-7{background-position: -108px -139px;}
.list-l.l-8{background-position: -126px -139px;}
.list-l.l-9{background-position: -144px -139px;}
.list-l.l-10{background-position: -162px -139px;}

.search-list:hover .list-l.l-1{background-position: 0 -166px;}
.search-list:hover .list-l.l-2{background-position: -18px -166px;}
.search-list:hover .list-l.l-3{background-position: -36px -166px;}
.search-list:hover .list-l.l-4{background-position: -54px -166px;}
.search-list:hover .list-l.l-5{background-position: -72px -166px;}
.search-list:hover .list-l.l-6{background-position: -90px -166px;}
.search-list:hover .list-l.l-7{background-position: -108px -166px;}
.search-list:hover .list-l.l-8{background-position: -126px -166px;}
.search-list:hover .list-l.l-9{background-position: -144px -166px;}
.search-list:hover .list-l.l-10{background-position: -162px -166px;}

.list-r{
	float: left;
	font-size: 12px;
	line-height: 22px;
	max-width: 300px;
}
.list-r .title{
	color: #3385FF;
	font-size: 12px;
}
.list-r .address{
	
}
.list-r .lat-long span{
	color: #F54336;
}
.list-r .long{
	margin-right: 10px;
}
.search-list.special{
	height:60px;
	border:1px solid #3385ff;
	padding:0;
}
.search-list.special .list-l{
	background:#3385ff;
	width:50px;
	height:100%;
	color:#fff;
	padding:5px;
	text-align:center;
	line-height:25px;
	font-weight:bold;
}
.search-list.special .list-r{
	max-width:280px;
	line-height:60px;
	font-size:14px;
	font-weight:bold;
}
.travel-frame{
	position: absolute;
	width: 384px;
	top: 60px;
	right: 10px;
	z-index: 1;
}
.travle-general{
	height: 34px;
	line-height: 34px;
	color: #3385FF;
	font-size: 14px;
	background: #fff;
	box-shadow: 0 0 5px #ccc;
	padding: 0 10px;
	cursor: pointer;
}
.travle-general span{
	float: left;
}
.travle-general .travel-number{
	color:#ff0000;
}
.travle-general i{
	float: right;
	line-height: 34px;
}
.travle-info{
	background: #fff;
	margin-top: 5px;
	display: none;
	box-shadow: 0 0 5px #ccc;
	overflow-y: auto;
}
.travle-info .combine-btn{
	padding-left:10px;
	padding-bottom:10px;
}
.travle-info .combine-btn button{
	width: 120px;
	height:30px;
	border-radius:3px;
	background:rgba(43,129,255,0.8);
	border:1px solid rgba(43,129,255,0.8); 
	color:#fff;
	cursor:pointer;
}
.travle-info .combine-btn button:hover{
	background:rgba(43,129,255,0.5);
	border:1px solid rgba(43,129,255,0.5); 
}
.travle-info .info-list{
	padding: 5px;
	margin-bottom:5px;
	font-size:12px;
}
.info-list .info-list-l{
	float:left;
	margin-left:5px;
	width: 55px;
	height:32px;
	position:relative;
}
.info-list .info-list-l .checkbox-bg{
	float:left;
	width:16px;
	height:16px;
	margin-right:5px;
	margin-top:10px;
	border:1px solid #ccc;
	border-radius:3px;
}
.info-list .info-list-l .checkbox-bg.on{
	border:1px solid #3385FF;
}
.info-list .info-list-l .checkbox-bg.on{
	background:url(./images/checkbox.png) no-repeat center center;
}
.info-list .info-list-l:hover .checkbox-bg{
	border:1px solid #3385FF;
}
.info-list .info-list-l input{
	position:absolute;
	left:0px;
	top:10px;
	width:16px;
	height:16px;
	cursor:pointer;
	opacity:0;
}
.info-list .info-list-l i{
	vertical-align:middle;
	display:inline-block;
	width:22px;
	height:32px;
	background:url(/imgs/map.png) no-repeat -200px -189px;
}
.info-list .info-list-r{
	float:left;
	max-width:305px;
	overflow-x:hidden;
}
.info-list .info-list-r p{
	margin-top:5px;
	overflow:hidden;
}
.info-list .info-list-r p.title{
	color:#3385FF;
}
.info-list .info-list-r .info-frame{
	height:30px;
	line-height:30px;
}
.info-list .info-list-r .info-frame button{
	width:50px;
	height:25px;
	border-radius:3px;
	background:rgba(43,129,255,0.8);
	border:1px solid rgba(43,129,255,0.8);
	color:#Fff;
	margin-top:6px;
	cursor:pointer;
}
.info-list .info-list-r .info-frame button:hover{
	background:rgba(43,129,255,0.6);
	border:1px solid rgba(43,129,255,0.6);
}
.info-list .info-list-r p.info{
	float:left;
	width:180px;
}
.info-list .info-list-r p.info span{
	color:#ff0000;
	padding:0 5px;
	font-size:14px;
}
/*设置*/
.setting-frame{
	position: fixed;
	z-index:1;
	width: 100%;
	box-shadow: 0 0 5px #ccc;
	left: 0;
	top: 0;
	color: #181818;
	background: #fff;
}
.setting-operate{
	width:50px;
	height:30px;
	background:rgba(255,255,255,1);
	color:#000;
	position:absolute;
	left:50%;
	bottom:-30px;
	margin-left:-25px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	cursor:pointer;
	text-align:center;
	line-height:25px;
	border:1px solid #ccc;
	box-shadow:0 0 5px #ccc;
	border-top-color:transparent;
}
.setting-operate:hover{
	color:#3385ff;
}
.setting-content{
	display:none;
	overflow:hidden;
	width:500px;
	margin:0 auto;
}
.setting-list{
	width:250px;
	height:190px;
	padding:5px;
	float:left;
	transition:all 0.5s;
}
/*.setting-list:hover{
	background:rgba(204,204,204,0.3);
	transition:all 0.5s;
}*/
.setting-list .theme-list{
	float:left;
	width:40px;
	height:40px;
	margin:5px 8px 5px 5px;
	background:url() no-repeat center center;
	cursor:pointer;
	border-radius:20px;
	box-shadow:0 0 10px #ccc;
}
.setting-list .theme-list.normal{background-image:url(./images/theme_normal_bg.png);}
.setting-list .theme-list.bluish{background-image:url(./images/theme_bluish_bg.png);}
.setting-list .theme-list.dark{background-image:url(./images/theme_dark_bg.png);}
.setting-list .theme-list.darkgreen{background-image:url(./images/theme_darkgreen_bg.png);}
.setting-list .theme-list.googlelite{background-image:url(./images/theme_googlelite_bg.png);}
.setting-list .theme-list.grassgreen{background-image:url(./images/theme_grassgreen_bg.png);}
.setting-list .theme-list.grayscale{background-image:url(./images/theme_grayscale_bg.png);}
.setting-list .theme-list.hardedge{background-image:url(./images/theme_hardedge_bg.png);}
.setting-list .theme-list.light{background-image:url(./images/theme_light_bg.png);}
.setting-list .theme-list.midnight{background-image:url(./images/theme_midnight_bg.png);}
.setting-list .theme-list.pink{background-image:url(./images/theme_pink_bg.png);}
.setting-list .theme-list.redalert{background-image:url(./images/theme_redalert_bg.png);}
.setting-list p{
	font-size:14px;
	padding:5px 0;
	font-weight:bold;
}
.setting-list .list-content{
	height:30px;
	line-height:30px;
	margin-top:5px;
	margin-right:5px;
}
.setting-list .list-content label{
	font-size:12px;
	width:50px;
}
.setting-list .list-content input{
	width:180px;
	height:26px;
	transition:all 0.3s;
	outline:none;
	border-radius:3px;
	box-shadow:0 0 5px #ccc;
	border:1px solid #ccc;
}
.setting-list .list-content input.color{
	padding-left:30px;
}
.setting-list .list-content select{
	width:180px;
	height:26px;
	transition:all 0.3s;
	outline:none;
	border-radius:3px;
	box-shadow:0 0 5px #ccc;
	border:1px solid #ccc;
}
.setting-list .list-content select:focus{
	border:1px solid #3385ff;
	transition:all 0.3s;
}
.spinner button{
	width:26px;
	height:26px;
	border:1px solid #3385ff;
	outline:none;
	border-radius:3px;
	background:#3385ff;
	color:#fff;
}
.spinner button:disabled{
	background:#ccc;
	color:#000;
	border:1px solid #ccc;
}
.spinner-frame{
	display:inline-block;
	width:180px;
}
.spinner-frame input{
	width:128px !important;
	border-radius:0 !important;
	padding-left:5px;
}
.spinner-input:focus{
	border:1px solid #3385ff;
}
.map-list-color{
	position:relative;
	display:inline-block;
	width:180px;
}
.map-list-bg{
	width:24px;
	height:24px;
	position:absolute;
	left:1px;
	top:5px;
	border-radius:3px;
}
.code-frame{
	width:100%;
	height:100%;
}
.code-frame .code-content{
	width:100%;
	height:100%;
	padding:0 5px;
	position:relative;
}
.code-frame .code-content pre{
	width:100%;
	height:100%;
}
#code-content{
	width:50%;
	height:100%;
	word-wrap: break-word;
	position:absolute;
	left:0px;
	top:0px;
}
#code-content-str{
	width:50%;
	height:100%;
	font-family: "微软雅黑","microsoft yahei";
	word-wrap: break-word;
	position:absolute;
	right:0px;
	top:0px;
	overflow:auto;
	padding-left:10px;
	font-size:12px;
	line-height:20px;
}
.layui-layer-rim{
	border:none !important;
}
